{% extends 'MainRefrigerator/base.html' %}
{% block main_area %}
{% load static %}
        <!-- Login -->
        <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="join-form-area col-lg-4">
                        <div class="mb-3">
                            <img class="img-fluid" src="./assets/img/signup.png"/>
                        </div>
                        <form class="" action="" method="POST">
                          {% csrf_token %}
                            <!-- <div class="mb-3">
                                <label for="exampleInputProfile" class="form-label">Profile</label>
                                <input type="file" class="form-control" id="exampleInputProfile">
                            </div> -->
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input name="email" type="email" class="form-control" id="exampleInputEmail1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputId1" class="form-label">ID</label>
                                <input name="username" type="text" class="form-control" id="exampleInputId1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input name="password1" type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword2" class="form-label">Confirm Password</label>
                                <input name="password2" type="password" class="form-control" id="exampleInputPassword2">
                            </div>
                            <!-- <div class="mb-3">
                                <label for="exampleInputName" class="form-label">이름</label>
                                <input type="text" class="form-control" id="exampleInputName">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputNickname" class="form-label">닉네임</label>
                                <input type="text" class="form-control" id="exampleInputNickname">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPhoneNumber" class="form-label">핸드폰 번호</label>
                                <input type="text" class="form-control" id="exampleInputPhoneNumber">
                            </div> -->
                            <button type="submit" class="btn btn-primary">SIGN UP</button>
                        </form>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}